body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  
  
}


.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.container{
  display: flex;
  
}

.sidebar {
  width: 300px;
  height: 825px;
  background: royalblue;
  box-sizing: border-box;

}

ul{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
  
}

.cards{
  border: solid red;
  width: 1700px;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
}

.card  {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  height: 200px;
  padding: 50px;
  margin: 20px;
  
}